@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-[1440px];
  }

  .heading {
    @apply font-semibold text-2xl leading-10 tracking-tight;
  }

  .heading-lg {
    @apply font-semibold text-4xl leading-[56px] tracking-tight;
  }

  .heading-xl {
    @apply font-semibold text-5xl md:text-6xl leading-[80px] tracking-tight;
  }

  .overline {
    @apply font-semibold uppercase text-sm leading-6 tracking-wider;
  }

  .link {
    @apply font-semibold text-grey-200 transition;
    @apply hover:text-grey-100;
  }

  .card-list {
    @apply grid grid-cols-2 gap-6;
    @apply lg:grid-cols-3;
    @apply xl:grid-cols-4;
  }

  .button {
    @apply inline-flex items-center py-3 px-5 rounded-xl cursor-pointer transition;
    @apply disabled:opacity-40 disabled:cursor-not-allowed;
  }

  .button-sm {
    @apply text-sm;
  }

  .button-primary {
    @apply bg-primary-400;
    @apply hover:bg-primary-500;
    @apply active:bg-primary-600;
    @apply disabled:hover:bg-primary-400;
  }

  .button-trans {
    @apply bg-black-20;
    @apply hover:bg-black-30;
    @apply active:bg-black-40;
    @apply disabled:hover:bg-black-20;
  }
}

@layer utilities {
  .masked-overflow-y {
    --scrollbar-width: 8px;
    --mask-height: 64px;
    padding-bottom: var(--mask-height);
    padding-right: 20px;
    --mask-image-content: linear-gradient(
      to bottom,
      black var(--mask-height),
      black calc(100% - var(--mask-height)),
      transparent
    );
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
    --mask-image-scrollbar: linear-gradient(black, black);
    --mask-size-scrollbar: var(--scrollbar-width) 100%;
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;
  }

  .masked-overflow-x {
    --scrollbar-width: 8px;
    --mask-width: 32px;
    padding-right: 0;
    padding-bottom: 20px;
    --mask-image-content: linear-gradient(
      to right,
      black calc(var(--mask-width)),
      black calc(100% - var(--mask-width)),
      transparent
    );
    --mask-size-content: 100% calc(100% - var(--scrollbar-width));
    --mask-image-scrollbar: linear-gradient(black, black);
    --mask-size-scrollbar: 100% var(--scrollbar-width);
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
    mask-position: 0 0, 0 100%;
    mask-repeat: no-repeat, no-repeat;
  }

  .masked-overflow-x-both {
    --mask-image-content: linear-gradient(
      to right,
      transparent,
      black calc(var(--mask-width)),
      black calc(100% - var(--mask-width)),
      transparent
    );
  }

  .masked-overflow-x-end {
    --mask-image-content: linear-gradient(
      to right,
      transparent,
      black calc(var(--mask-width)),
      black calc(100% - var(--mask-width))
    );
  }
}

body {
  @apply bg-grey-900 text-grey-50;
  background-image: url('/bg.png');
  background-size: 100%;
  background-position: 50% -160px;
  background-repeat: repeat-y;
}

.scroll-section::-webkit-scrollbar {
  @apply w-2 h-2;
}
.scroll-section::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.scroll-section::-webkit-scrollbar-thumb {
  @apply shadow-sm bg-transparent rounded-lg transition;
}
.scroll-section:hover::-webkit-scrollbar-thumb {
  @apply bg-grey-400;
}
.scroll-section::-webkit-scrollbar-thumb:active {
  @apply bg-grey-500;
}

@import './input';
@import './navbar';
@import './card';
@import './segmented';
@import './breadcrumb';
@import './slider';
