@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-[1440px];
  }

  .heading {
    @apply font-semibold text-2xl leading-10 tracking-tight;
  }

  .heading-lg {
    @apply font-semibold text-4xl leading-[56px] tracking-tight;
  }

  .heading-xl {
    @apply font-semibold text-5xl md:text-6xl leading-[80px] tracking-tight;
  }

  .overline {
    @apply font-semibold uppercase text-sm leading-6 tracking-wider;
  }

  .link {
    @apply font-semibold text-grey-200 transition;
    @apply hover:text-grey-100;
  }

  .card-list {
    @apply grid grid-cols-2 gap-6;
    @apply lg:grid-cols-3;
    @apply xl:grid-cols-4;
  }

  .button {
    @apply inline-flex items-center py-3 px-5 rounded-xl cursor-pointer transition;
    @apply disabled:opacity-40 disabled:cursor-not-allowed;
  }

  .button-sm {
    @apply text-sm;
  }

  .button-primary {
    @apply bg-primary-400;
    @apply hover:bg-primary-500;
    @apply active:bg-primary-600;
    @apply disabled:hover:bg-primary-400;
  }

  .button-trans {
    @apply bg-black-20;
    @apply hover:bg-black-30;
    @apply active:bg-black-40;
    @apply disabled:hover:bg-black-20;
  }
}

body {
  @apply bg-grey-900 text-grey-50;
  background-image: url('/bg.png');
  background-size: 100%;
  background-position: 50% -160px;
  background-repeat: repeat-y;
}

.scroll-section::-webkit-scrollbar {
  @apply w-2 h-2;
}
.scroll-section::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.scroll-section::-webkit-scrollbar-thumb {
  @apply shadow-sm bg-grey-400 rounded-lg;
}
.scroll-section::-webkit-scrollbar-thumb:active {
  @apply bg-grey-500;
}

.scroll-fade {
  mask-image: linear-gradient(
    to right,
    black,
    black 50%,
    black 75%,
    transparent 100%
  );
}

.scroll-fade-active {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 25%,
    black 50%,
    black 75%,
    transparent 100%
  );
}

.scroll-fade-passive {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 25%,
    black 50%,
    black 75%,
    black 100%
  );
}

@import './input';
@import './navbar';
@import './card';
@import './segmented-control';
@import './breadcrumb';
